* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Rubik", sans-serif;
  display: flex;
  place-content: center;
  -webkit-user-select: none;
  user-select: none;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  gap: 0.5rem;
  background-color: #8fb5b9;
  animation-name: example;
  animation-duration: 1s;
  padding-bottom: 1.5em;
}

/*** Calculator Section ***/
#calc {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 1px 6px black);
  height: 0;
  max-width: 70vw;
  opacity: 0;
  transform-origin: bottom;
  transition: all 0.5s ease-in-out;
}
#calc.visible {
  height: 310px;
  opacity: 1;
}
#calc.hidden {
  height: 0;
}
#content {
  background: #2c302c;
  padding: 0.6rem;
  border-radius: 10px;
}
#content form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 40px;
  border-radius: 8px;
  font-size: 15px;
  margin: 3px;
  cursor: pointer;
}
#backspace {
  background-color: rgb(237, 89, 30);
  color: white;
}
#res {
  padding: 10px;
}
#clear {
  background-color: rgb(237, 89, 30);
  color: white;
}
form #output {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}
form #output input {
  text-align: right;
  flex: 1;
  font-size: 25px;
}
/* Shopping List Section */
#shopping-list {
  padding: 1rem 0;
  border-bottom: 1px solid #ac485a5e;
  border-top: 1px solid #ac485a5e;
}
.add-item {
  max-width: 95%;
  display: flex;
  position: sticky;
  top: 1.5rem;
  padding: 0 0 1rem 0;
}
input {
  color: #432000;
  background-color: #dce1eb;
  padding: 0.5rem;
  text-align: center;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "Rubik", sans-serif;
}
button {
  padding: 1rem 2rem;
  text-align: center;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  background-color: #ac485aa2;
  color: #fdfdfd;
  cursor: pointer;
  transition: 0.2s;
  filter: drop-shadow(0px 1px 6px black);
}
button:hover {
  background-color: #432000;
}
/* General Styles */
.header-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 1em;
  background-color: #8fb5b9;
  z-index: 9999;
}
img {
  width: 80px;
  margin: 0;
  padding: 0;
  filter: drop-shadow(0px 1px 6px black);
  animation-name: example;
  animation-duration: 1s;
}
#calc-btn {
  opacity: 0.6;
  padding: 1em;
  &::before {
    content: "open";
    color: red;
    font-size: 12px;
  }
}
#calc-btn.active {
  opacity: 1;
  &::before {
    content: "close";
    color: red;
    font-size: 12px;
    height: 1.5rem;
  }
}
h3 {
  margin: 0.5rem;
  padding: 0;
  font-size: 1.4rem;
  color: #ac485a;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 1.2rem;
  margin: 1.5rem 0 0 0;
}
ul {
  list-style: none;
  max-width: 95%;
  display: flex;
  margin-top: 16px;
  padding-bottom: 1.5em;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 1.2rem;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul li {
  flex-grow: 1;
  font-size: 1.4rem;
  text-align: center;
  color: #ac485a;
  background-color: #fffdf8;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
}
ul li:hover {
  background-color: #ffecc7;
}
@keyframes example {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
